<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
         <li class = "nav-item">
            <a routerLink="create-feedback" routerLinkActive="active" class="nav-link" >Add Feeadback</a>
        </li>
        <li class = "nav-item">
            <a routerLink="feedbacks" routerLinkActive="active" class="nav-link" >Feeadback List</a>
        </li>
        <li class = "nav-item">
          <a routerLink="delete-feedback/:id" routerLinkActive="active" class="nav-link" > Delete Feeadback</a>
      </li>
      <li class = "nav-item">
        <a routerLink="find-feedback/:id" routerLinkActive="active" class="nav-link" >Feeadback By id</a>
    </li>
       
    </ul>
  </nav>
  
  <h1 class="text-center"> Feeadback </h1>
  <div class = "container">
    <router-outlet></router-outlet>
    <br>
  </div>
  <footer class = "footer">
    <div class = "container">
        <span>All Rights Reserved 2023@IBM Full Stack Team</span>
    </div>
  </footer>