<!-- <form #preForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-outline mb-4">
      <input type="text" class="form-control" [(ngModel)]="loginDetails.userId" name="User Id"
        placeholder="Description">
    </div>
     <div class="form-outline mb-4">
      <input type="text" class="form-control" [(ngModel)]="loginDetails.password" name="Password"
        placeholder="Description">
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">check login</button>
  </form>
   -->

   <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form #preForm="ngForm" (ngSubmit)="validateLogin()">
              <div class="form-group">
                <label for="userId">UserName</label>
                <input type="text" class="form-control" [(ngModel)]="loginDetails.username" name="username" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" [(ngModel)]="loginDetails.password" name="password" required>
              </div><br />
              <label for="role">Role</label>
              <select class="form-control" [(ngModel)]="loginDetails.role" name="role" required>
                <option value="ADMIN">Admin</option>
                <option value="DOCTOR">Doctor</option>
                <option value="USER" selected>Patient</option>
              </select><br />
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <div class="mt-3">
              <a routerLink="../signup" routerLinkActive="active"><button class="btn btn-secondary btn-block" >Sign Up</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
